/* _______________ VARIABLES _______________ */
/* _______________ Global colors _______________ */
$hover: #d0ce43;
$hover-orange: #ff521c;
$header-color: #101010;
$header-bg: #ffffff;
$main-color: #101010;
$main-bg: #ffffff;
$footer-color: #101010;
$footer-background: #fafafa;
/* __________ Colors __________ */
$pink: #D22856;
$blue: #283645;
$grey: #2f2f2fbf;
$border-hero: #ccdde5;

$text-color2: #1e1e1e;
$text-color3: #272727;
$text-color4: #2f2f2f;
$text-copy: #6c6c6c;

$gradient: linear-gradient(-145deg, #f39c12 10%, #ffc700 90%);
$gradient-reverse: linear-gradient(-145deg, #ffc700 10%, #f39c12 90%);