<!-- __________ F O O T E R __________ -->
<footer class="footer" id="footer">
  <div class="container footer__container">
    <div class="footer__container-inner">
      <div class="logo">
        <a class="logo__link">
          <img class="logo__img _btn-content" src="img/svg/logo.svg" alt="logo" data-screen-open="02">
        </a>
        <h1 class="logo__title">Говори легко</h1>
      </div>
      <a class="component-link" href="tel:+79999999999">
        <img class="component-link__icon" src="img/svg/phone.svg" alt="phone">
        +7 (999) 999-99-99</a>
      <a class="component-link" href="mailto:email@email.com">
        <img class="component-link__icon" src="img/svg/mail.svg" alt="mail">
        email@email.com
      </a>
    </div>
    <a href="index.html" class="footer__policy">Условия предоставления услуг и политика конфиденциальности</a>
    <p class="footer__copy">
      © 2022 все права защищены и принадлежат Лебедевой Галине
    </p>

  </div>
</footer>