<!-- __________ H E A D E R __________ -->
<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="logo header__logo app__btn">
        <a class="logo__link">
          <img class="logo__img  _btn-content" src="img/svg/logo.svg" alt="logo" data-screen-open="02">
        </a>
        <h1 class="logo__title">Говори легко</h1>
      </div>
      <nav class="header__menu">
        <a class="header__menu-item component-link" href="tel:+79999999999">
          <img class="component-link__icon" src="img/svg/phone.svg" alt="phone">
          +7 (999) 999-99-99
        </a>

        <a class="header__menu-item component-link modal__btn _modal-open" data-modal-open="modal-login">
          <img class="component-link__icon" src="img/svg/login.svg" alt="login">Вход/Регистрация</a>

        <a class="header__menu-item component-link _btn-content" data-screen-open="03">
          <img class="component-link__icon" src="img/svg/profile.svg" alt="profile">
          </svg>Тигренок</a>

        <a class="header__menu-item header__menu-item--title --mob">Скачать</a>
        <a class="header__menu-item --mob" href="#google_play">
          <img src="img/googleplay.webp" width="204" height="59" alt="Google play">
        </a>

        <a class="header__menu-item --mob" href="#app_store">
          <img src="img/appstore.webp" width="204" height="59" alt="App store">
        </a>

        <a class="header__menu-item --mob" href="#ru_store">
          <img src="img/rustore.webp" width="174" height="59" alt="Ru store">
        </a>

        <button class="header__menu-item --mob btn _btn-content" data-screen-open="03">Тигренок</button>
        <a class="header__menu-item --mob btn logout
        modal__btn _modal-open" data-modal-open="modal-login">Вход/Регистрация</a>
      </nav>
      <div class="header__menu-overlay"></div>
      <div class="header__btn-area">
        <div class="header__btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>